# Environment files
.env
.env.prod
.env.test
.env.dev

.dockerignore
.gitignore

# Docker compose environment files
docker-compose.yaml
docker-compose.prod.yaml
docker-compose.test.yaml
docker-compose.dev.yaml

Dockerfile
readme.md
user.json
